# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Cache
.cache
.turbo

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea
