@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  table {
    @apply table-fixed lg:table-auto w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400;

    thead {
      @apply text-slate-800 uppercase bg-gray-100;

      tr {
        th {
          @apply px-6 py-3 font-semibold text-xs cursor-default;

          &:last-child {
            @apply text-right;
          }
        }
      }
    }

    tbody {
      @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;

      tr {
        @apply bg-white border-b hover:bg-gray-50;

        td {
          @apply px-6 py-4;

          &:nth-child(1) {
            @apply font-medium text-gray-900 whitespace-nowrap;
          }

          &:last-child {
            @apply justify-end;
          }
        }
      }
    }
  }
}
